
<form method='post' action="/customer/profile/:id">
<h4>Имя</h4>
<input type='text' name='name' value={{this.name}}>
<h4>Город</h4>
<input type='text' name='city' value={{this.city}}>
<button type='submit'>Enter</button>
</form>