<div
  style="height: 500px;width: 900px; border: solid black 2px; display: flex; flex-direction: column; flex-wrap: wrap; font-size: 15px; ">
  {{#each orders}}
  <div >
    <div>Тема: <br>{{title}}</div>
    <div>Описание:{{description}}</div>
    <a href="/customer/myorders/{{id}}/edit">Редактировать</a>
    <a href="/customer/myorders/{{id}}/delete">Удалить</a>
    <hr/>
  </div>
  <br>
  {{/each}}

</div>